<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/main.css" rel="stylesheet" />
        <script src="/libs/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>
    <body>
        {{> header this}}
        <div class="cards-wrapper">
        {{#each interviews}}
            <div class="card">
                <div class="card-heading">ID: {{this.uid}}</div>
                <div class="interview-url-label">URL to start the test:</div>
                <pre class="interview-url">/interview?channelName=1000&amp;uid={{this.uid}}&amp;appId={{@root.appId}}</pre>
                {{#equal this.isDone true}}
                    <span class="interview">Interview is completed ✓</span>
                {{/equal}}
                {{#equal this.isDone false}}
                    <span class="interview">Interview is yet to be completed ✗</span>
                {{/equal}}
                    
                    <span style="margin: 0 12px;">Interview is yet to be evaluated ✗</span>
                <div class="interview-questions-label">{{this.questions.length}} Questions:</div>
                <ul class="questions-list">
                    {{#each this.questions}}
                        <li class="interview-ques">{{this.text}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
        </div>
    </body>
</html>